@charset "utf-8";
.header_pc{
	width: 1200px;
	height: 90px;
	font-size: 24px;
}

.footer_pc{
	height: 90px;
}
.footer_pc .con{
	width: 1200px;
	/* width: 1200px; */
	/* color: #fff; */
	font-size: 14px;
	/* margin: 0 auto; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	height: 90px;
	/* overflow: hidden; */
}

nav{
	max-width: 1920px;
	display: flex;
	margin: 0 auto;
}
nav img{
	min-width: 1200px;
}

@media screen and (max-width:1200px ) {
	header{
		box-sizing: border-box;
		padding: 10px;
	}
}


.abstract .header_title{
  box-sizing: border-box;
	position: absolute;
	padding: 40px 0 0 40px;
	top: -90px;
  width: calc(100% + (100vw - 1200px - (100vw - 1183px)/2));
	/* width: 125.95%; */
  min-width: 1200px;
	background-color: #fff;
}
.abstract{
	/* position: relative; */
	height: 650px;
	background-color: #fff;
}
.abstract .title::after,.brand .title::after{
	width: 128px;
}
.abstract .con{
	position: relative;
	/* height: 700px; */
	width: 1200px;
	margin: 0 auto;
	/* padding: 40px 0 40px 40px; */
	/* width: calc(100% - 18.471%); */
	/* left: 18.471%; */
	background-color: #fff;
}
.abstract .content{
	padding: 40px 0 40px 40px;
	width: 1200px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.abstract .content_l{
	/* height: 590px; */
	width: 58%;
}
.abstract .content_l .img{
	display: flex;
	justify-content: flex-end;
}
.abstract .content_l img{
	box-shadow: -40px 40px 0 #2351d2;
	width: 94%;
}

.abstract .content_r{
	width: 420px;
	font-size: 14px;
	color: #323232;
}
.ab_p{
	box-sizing: border-box;
	height: 486px;
	padding: 30px 0;
	border-bottom: 1px solid rgb(0,0, 0, 0.15);
	border-top: 1px solid rgb(0,0, 0, 0.15);
}
.ab_p p{
	font-size: 14px;
	color: #323232;
	margin-bottom: 15px;
}
.abstract .content_r h3 {
	line-height: 70px;
	font-size: 26px;
}

.service {
	height: 1064px;
	width: 100%;
	background: url("../images/service_bg.jpg") no-repeat center center;
	overflow: hidden;
}
.service .con{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 1064px;
}
.service_content li{
	overflow: hidden;
	position: relative;
}
.service_content li:hover .li_bottom{
	display: none;
}
.service_content li:hover .li_hover{
	top: 10px;
}
.li_bottom{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	box-shadow: 0px -40px 40px -15px rgb(31,32,32, 0.75) inset;
}
.li_bottom p{
	font-size: 24px;
	color: #fff;
	margin: 20px 40px;
}
.service_content ul{
	margin-top: 40px;
	display: grid;
	grid-gap: 17px;
	grid-template-columns: repeat(3,1fr);
}
.li_hover{
	transition: all .45s ease 0s;
	box-sizing: border-box;
	background-color: rgb(35,81,210, 0.9);
	position: absolute;
	top: calc(100% + 10px);
	left: 10px;
	right: 10px;
	height: calc(100% - 20px);
	padding: 30px;

}
.li_hover h4{
	color:#fff;
	font-size: 24px;
	margin-bottom: 20px;
}
.li_hover .a1,.li_hover .a2,.li_hover .a3{
	cursor: pointer;
	color:#fff
}
.li_hover a:hover{
	text-decoration:underline;
}
.li_hover .a1,.li_hover .p1{
	font-size: 16px;
	line-height: 30px;
}
.li_hover .p1{
	color:#fff
}
.li_hover .a2{
	font-size: 14px;
	line-height: 30px;
}
.li_hover .a3{
	font-size: 16px;
	line-height: 22px;
}

.brand{
	padding: 40px 0;
	width: 1200px;
	margin: 0 auto;
}
.brand ul{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.brand li{
	border: solid #dcdcdc 1px;
	margin: 10px;
	box-sizing: border-box;
	width: 385px;
}
.brand li img{
	vertical-align: top;
	height: 60px;
}
.brand li:first-child,.brand li:nth-child(4n){
	margin-left: 0px;
}
.brand li:last-child,.brand li:nth-child(3n){
	margin-right: 0px;
}

.brand a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 10px 30px 10px;
}
.icon1{
	width: 18px;
	height: 18px;
	background: url("../images/wl.png") no-repeat center center;
}
.brand a:hover .icon1{
	background: url("../images/wl_h.png") no-repeat center center;
}
.brand a:hover p{
	color: #fff;
}
.brand a:hover .xiangguan{
	background-color: #2351d2;
}
.xiangguan{
	margin-top: 20px;
	border: solid #d2d2d2 1px;
	background-color: #fff;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}
.xiangguan p{
	margin-left: 10px;
	color: #5a5a5a;
	font-size: 14px;
}